---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
    "normalize",
    "bourbon/bourbon",
    "neat/neat",
    "base/base",
    "menu/menu/",
    "global",
    "header",
    "footer",
    "home",
    "modal",
    "events",
    "posts",
    "post",
    "pagination",
    "partners",
    "contact",
    "tools",
    "colorbox",
    "docs"
;


.deprecation-banner {
    padding: 10px 30px;
}

.deprecation-banner__content {
    border: 2px solid $medium-green;
    padding: 10px;
    padding-left: 25px;
    position: relative;
}

.deprecation-banner__content:before {
    content: "!";
    position: absolute;
    top: calc(50% - 15px);
    left: -15px;
    color: white;
    background-color: $medium-green;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
}

